# --- Unity & BepInEx ---
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Bb]in/
[Mm]emoryCaptures/

# --- Visual Studio ---
.vs/
*.user
*.suo
*.userprefs
*.pidb
*.booproj
*.svnj
*.scc

# --- Visual Studio Code ---
.vscode

# --- Makefile
*.temp

Libs/
Assembly-CSharp.dll
UnityEngine*.dll
BepInEx.dll

secrets.json
*.cfg

!/build-resource/**
# build-resource 中的 Unity DLL 文件，除 UnityEngine.UI.dll 外，都是闭源的，不应包含在仓库内。
/build-resource/buildenv/mokgamedir/Chill With You_Data/Managed/UnityEngine.dll
/build-resource/buildenv/mokgamedir/Chill With You_Data/Managed/UnityEngine.*.dll
!/build-resource/buildenv/mokgamedir/Chill With You_Data/Managed/UnityEngine.UI.dll

# BepInEx 虽然是开源的，也不应包含在仓库内。
/build-resource/assets/BepInEx_win_x64/**
!/build-resource/assets/BepInEx_win_x64/LICENSE
