name: Build and Package AIChat Mod

on:
  workflow_dispatch:
  push:
    branches: [ main ]
    paths: [ AIChat/**,build-resource/buildenv/** ]

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout AIChat
        uses: actions/checkout@v4

      - name: Cache APT packages
        uses: awalsh128/cache-apt-pkgs-action@v1
        with:
          packages: mono-complete zip pandoc

      - name: Download Unity assemblies from NuGet
        run: build-resource/buildenv/download-unityengine.sh
      - name: Download BepInEx
        run: build-resource/buildenv/download-bepinex.sh

      - name: Build AIChat.dll
        run: |
          make GAME_ROOT="${{ github.workspace }}/build-resource/buildenv/mokgamedir"
          cp AIChat/bin/Release/AIChat.dll build-resource/assets/

      - name: Add README.html
        run: build-resource/buildenv/build-README.sh

      - name: Zip Artifact
        run: |
          cd build-resource/assets/
          zip -r ../../AIChatMod.zip .

      - name: Get commit info
        id: info
        run: |
          echo "hash=$(git rev-parse HEAD)" >> $GITHUB_OUTPUT
          echo "time=$(git log -1 --date=format-local:'%Y-%m-%d %H:%M:%S UTC' --format='%cd')" >> $GITHUB_OUTPUT
        env:
          TZ: UTC

      - name: Update Pre-Release
        uses: softprops/action-gh-release@v2
        with:
          tag_name: preview
          name: "Preview Build"
          body: |
            [![Build Status](https://github.com/qzrs777/AIChat/actions/workflows/build.yml/badge.svg)](https://github.com/qzrs777/AIChat/actions/workflows/build.yml)
            此为无固定版本号的预览版本，当有更新推送到特定目录时触发构建，也可由维护者手动触发构建。

            此构建的 Commit 信息：
            - HASH： ${{ steps.info.outputs.hash }}
            - 时间：${{ steps.info.outputs.time }}
          prerelease: true
          files: AIChatMod.zip
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
