name: Build and Package AIChat Mod

on:
  workflow_dispatch:
  push:
    branches: [ main ]
    paths: [ .github/workflows/build.yml,AIChat/**,build-resource/buildenv/** ]

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout AIChat
        uses: actions/checkout@v4

      - name: Cache APT packages
        uses: awalsh128/cache-apt-pkgs-action@v1
        with:
          packages: dotnet-sdk-8.0 python3 python3-pip zip pandoc

      - name: Install .NET SDK
        run: |
          sudo apt install dotnet-sdk-8.0

      - name: Cache Unity assemblies
        id: cache-unity
        uses: actions/cache@v4
        with:
          path: build-resource/buildenv/mokgamedir/Chill With You_Data/Managed
          key: unity-assemblies-${{ hashFiles('install-deps.py') }}
          restore-keys: |
            unity-assemblies-
      - name: Cache BepInEx
        id: cache-bepinex
        uses: actions/cache@v4
        with:
          path: build-resource/assets/BepInEx_win_x64
          key: bepinex-${{ hashFiles('install-deps.py') }}
          restore-keys: |
            bepinex-

      - name: Run install-deps.py
        if: steps.cache-unity.outputs.cache-hit != 'true' || steps.cache-bepinex.outputs.cache-hit != 'true'
        run: |
          python3 install-deps.py

      - name: Build AIChat.dll
        run: |
          cd ${{ github.workspace }}
          dotnet build -c Release
          cp AIChat/bin/Release/**/AIChat.dll build-resource/assets/

      - name: Add README.html
        run: build-resource/buildenv/build-README.sh

      - name: Zip Artifact
        run: |
          cd build-resource/assets/
          zip -r ../../AIChatMod.zip .

      - name: Get commit info
        id: info
        run: |
          echo "hash=$(git rev-parse HEAD)" >> $GITHUB_OUTPUT
          echo "time=$(git log -1 --date=format-local:'%Y-%m-%d %H:%M:%S UTC+8' --format='%cd')" >> $GITHUB_OUTPUT
        env:
          TZ: UTC

      - name: Delete old preview release with tag
        continue-on-error: true
        run: gh release delete preview --cleanup-tag --yes
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Create Latest Preview Release
        uses: softprops/action-gh-release@v2
        with:
          tag_name: preview
          name: "预览版"
          body: |
            [![Build Status](https://github.com/qzrs777/AIChat/actions/workflows/build.yml/badge.svg)](https://github.com/qzrs777/AIChat/actions/workflows/build.yml)
            此为无固定版本号的预览版本，当有更新推送到特定路径时触发构建，也可由维护者手动触发构建。

            此构建的 Commit 信息：
            - HASH： ${{ steps.info.outputs.hash }}
            - 时间（UTC+8）：${{ steps.info.outputs.time }}
          prerelease: true
          files: AIChatMod.zip
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
