name: Build and Package AIChat Mod

on:
  workflow_dispatch:
  schedule:
    # 每日北京时间 11:00 (即 UTC 时间 03:00) 触发
    - cron: '0 3 * * *'

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout AIChat
        uses: actions/checkout@v4

      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y mono-complete zip

      - name: Build AIChat.dll
        run: |
          make GAME_ROOT="${{ github.workspace }}/build-resource/buildenv/mokgamedir"

      - name: Copy AIChat.dll to assets
        run: |
          cp AIChat/bin/Release/AIChat.dll build-resource/assets/

      - name: Zip Artifact
        run: |
          cd build-resource/assets/
          zip -r ../../AIChatMod.zip .

      - name: Get commit info
        id: info
        run: |
          echo "hash=$(git rev-parse HEAD)" >> $GITHUB_OUTPUT
          #echo "hash_short=$(git rev-parse --short HEAD)" >> $GITHUB_OUTPUT
          echo "time=$(git log -1 --date=format-local:'%Y-%m-%d %H:%M:%S UTC' --format='%cd')" >> $GITHUB_OUTPUT
        env:
          TZ: UTC

      - name: Update Pre-Release
        uses: softprops/action-gh-release@v2
        with:
          tag_name: latest
          name: "Preview Build"
          body: |
            此为无固定版本号的预览版本。
            最近一次提交: ${{ steps.info.outputs.hash }}
            提交时间 (UTC): ${{ steps.info.outputs.time }}
          prerelease: true
          files: AIChatMod.zip
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
