name: Pull Request Check Build

on:
  pull_request:
    types: [opened, synchronize, reopened]

jobs:
  check:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout AIChat
        uses: actions/checkout@v4
        with:
          ref: ${{ github.event.pull_request.head.sha }}

      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y mono-complete

      - name: Download Unity assemblies from NuGet
        run: |
          cd build-resource/buildenv
          bash download-unityengine.sh
      - name: Download BepInEx
        run: |
          cd build-resource/buildenv
          bash download-bepinex.sh

      - name: Build AIChat.dll
        run: |
          make GAME_ROOT="${{ github.workspace }}/build-resource/buildenv/mokgamedir"
          cp AIChat/bin/Release/AIChat.dll build-resource/assets/
          # 小白未必知道怎么打开 md 文件
          cp README.md build-resource/assets/README.md.txt

      - name: Upload PR Build Artifact
        uses: actions/upload-artifact@v4
        with:
          name: AIChatMod-PR-${{ github.event.pull_request.number }}
          path: build-resource/assets/
          retention-days: 5
