name: Pull Request Check Build

on:
  pull_request:
    types: [opened, synchronize, reopened]

jobs:
  check:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout AIChat
        uses: actions/checkout@v4
        with:
          ref: ${{ github.event.pull_request.head.sha }}

      - name: Cache APT packages
        uses: awalsh128/cache-apt-pkgs-action@v1
        with:
          packages: dotnet-sdk-8.0 python3 python3-pip zip pandoc

      - name: Install .NET SDK
        run: |
          sudo apt install dotnet-sdk-8.0

      - name: Cache Unity assemblies
        id: cache-unity
        uses: actions/cache@v4
        with:
          path: build-resource/buildenv/mokgamedir/Chill With You_Data/Managed
          key: unity-assemblies-${{ hashFiles('install-deps.py') }}
          restore-keys: |
            unity-assemblies-
      - name: Cache BepInEx
        id: cache-bepinex
        uses: actions/cache@v4
        with:
          path: build-resource/assets/BepInEx_win_x64
          key: bepinex-${{ hashFiles('install-deps.py') }}
          restore-keys: |
            bepinex-

      - name: Run install-deps.py
        if: steps.cache-unity.outputs.cache-hit != 'true' || steps.cache-bepinex.outputs.cache-hit != 'true'
        run: |
          python3 install-deps.py

      - name: Build AIChat.dll
        run: |
          cd ${{ github.workspace }}
          dotnet build -c Release
          cp AIChat/bin/Release/**/AIChat.dll build-resource/assets/

      - name: Add README.html
        run: build-resource/buildenv/build-README.sh

      - name: Upload PR Build Artifact
        uses: actions/upload-artifact@v4
        with:
          name: AIChatMod-PR-${{ github.event.pull_request.number }}
          path: build-resource/assets/
          retention-days: 5
